<html>
    <head>
        <!-- link to sylesheet -->
    
        <title>{{ title }} - Rock/Paper/Scissors App</title>
    </head>
    <body>
        <h1>Welcome to Rock/Paper/Scissors!</h1>
    </body>
    <hr>
        {% block content %}
        
        <h2>Play against the computer.</h2>

        <label for="player">Choose your hand:</label>

            <select name="player" id="player">
            <option value="please_pick">--Please select--</option>
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
            </select>

            <p id="computer">Computer plays:</p>
            <p>Rock</p>
           
            <p>The winner is:</p>
            <p></p>
        
        
        
        {% endblock %}
</html>